<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .nav .navbar-right {
            color: red;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    </style>
</head>

<body>


    <nav class="navbar  navbar-light ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="nav navbar-left"><img src="assets/SRM.jpg"> SRM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">AboutUs</a></li>
            </ul>
            <form class="navbar-form navbar-right" style="margin-right:20%;" action="#">
                <div class="form-group row">
                    <input type="text" class="form-control col-md-12" placeholder="Search">
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <img src="assets/center.jpg" class="center" />
    </div>
    <div dir="button-group">

        <h3 class="text-center text-primary">Hellooooooooooo</h3>

        <p class=" text-center"><b>Sai Vinay <span class="glyphicon glyphicon-forward"></span> </b>
            <a href="#" class="btn btn-success btn-lg">
                GOO!
            </a>
        </p>

    </div>
</body>

</html>